<% provide(:title, 'Welcome!') %>
<% provide(:page_id, "welcome-page") %>

<header>
  <div class="logo"></div>

  <div class="buttons-container">
    <%
      if current_user.blank?
    %>
      <%= link_to "Sign Up",
        {controller: 'devise/registrations', action: 'new'},
        :class => 'button green-button' %>

      <%= link_to "Sign in",
        {controller: 'devise/sessions', action: 'new'},
        :class => 'button blue-button' %>
    <%
    else
    %>
      <%= link_to "Sign out",
      {controller: 'devise/sessions', action: 'destroy'},
      :class => 'button green-button' %>

      <%= link_to "Reports",
        "/home",
        :class => 'button blue-button' %>
    <%
    end
    %>

  </div>

</header>

<div class="title-box">
  <h1>
    <span class="strong">Awesome</span> reports for people that
    <span class="strong">hate</span> creating reports!
  </h1>
  <h2>
    Create your weekly basis communications in amazingly simple steps.
  </h2>
</div>

<section class="banner">
</section>

<%= render "layouts/footer" %>
