<% provide(:title, 'Sign Up') %>
<% provide(:page_id, "sign-up-page") %>

<% errors = devise_error_messages_without_title %>
<% if (errors.size > 0) %>
  <div class="alert alert-error">
    <button class="close" data-dismiss="alert">&times;</button>
    <% errors.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<div class="logo" onclick="window.location='<%= welcome_page_url %>'"></div>

<div class="sign-up-box">

  <%= form_for(resource, :as => resource_name,
    :url => registration_path(resource_name)) do |f| %>

    <legend>CREATE AN ACCOUNT</legend>

    <%= link_to "Or sign in", {controller: 'devise/sessions', action: 'new'},
     :class => 'sign-in-link' %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Register", class: 'button green-button'%>

  <% end %>

</div>
