<% provide(:title, 'Preferences') %>
<% provide(:page_id, "users-edit-page") %>

<h1>Your preferences</h1>

<div class="users-edit-box">

  <%= form_for @user, :html => { :autocomplete => "off" } do |f| %>

    <legend>Update your personal information below</legend>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password, { :autocomplete => "off" } %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Save", class: "button green-button" %>

  <% end %>

</div>