<% provide(:title, 'Sign in') %>
<% provide(:page_id, "sign-in-page") %>

<div class="logo" onclick="window.location='<%= welcome_page_url %>'"></div>

<div class="sign-in-box">

  <%= form_for(resource, :as => resource_name,
    :url => session_path(resource_name)) do |f| %>

    <legend>Login --</legend>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    <% end -%>

    <%= f.submit "Sign in", class: "button green-button" %>

  <% end %>

</div>