<% provide(:title, 'My Reports') %>
<% provide(:page_id, "my-reports-page") %>

<div class="container">

  <table class="custom-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Report Type</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= link_to report.title, report_path(report) %></td>
          <td><%= human_report_type report.report_type %></td>
          <td><%= time_ago_in_words report.created_at %> ago</td>
          <td>
            <%= link_to '', edit_report_path(report) , class: 'edit-icon' %>
            <%= link_to '', report, method: :delete,
              data: { :confirm => 'Are you sure you want to delete the report' },
              class: 'delete-icon' %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="actions-toolbar-wrapper">
  <div class="actions-toolbar">

    <a onclick="window.location='<%= new_report_path %>'"
      class="button white-button js-new-button" value="New">

      New Sprint Release<i class="button-icon-plus-right"></i>
    </a>
    <a class="button white-button coming-soon">
      New Sprint Definition<i class="button-icon-plus-right"></i>
    </a>
    <a class="button white-button coming-soon">
      Daily Email<i class="button-icon-plus-right"></i>
    </a>

  </div>
</div>