<% provide(:title, 'My Reports') %>
<% provide(:page_id, "my-reports-page") %>

<div class="top-toolbar-wrapper">
  <div class="top-toolbar">

    <a type="button" onclick="window.location='<%= new_report_path %>'"
      class="button blue-button js-new-button" value="New">

      <i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;New Sprint Release
    </a>
    <a type="button" onclick="window.location='<%= new_report_path %>'"
      class="button blue-button js-new-button" value="New">

      <i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;New Sprint Definition
    </a>

  </div>
</div>

<div class="container">

  <table class="custom-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Report Type</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= link_to report.title, report_path(report) %></td>
          <td><%= human_report_type report.report_type %></td>
          <td><%= time_ago_in_words report.created_at %> ago</td>
          <td>
            <%= link_to '', edit_report_path(report) , class: 'edit-icon' %>
            <%= link_to '', report, method: :delete,
              data: { :confirm => 'Are you sure you want to delete the report' },
              class: 'delete-icon' %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>