<% provide(:title, 'My Reports') %>
<% provide(:page_id, "my-reports-page") %>

<div class="top-toolbar-wrapper">
  <div class="top-toolbar">

    <a type="button" onclick="window.location='<%= root_path %>'"
      class="button black-button js-new-button new-button" value="New">

      <i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;New
    </a>

  </div>
</div>

<div class="container">

  <table class="custom-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Report Type</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.title %></td>
          <td><%= report.report_type %></td>
          <td><%= report.created_at %></td>
          <td>
            <%= link_to 'Show', report %>,
            <%= link_to 'Edit', edit_report_path(report) %>,
            <%= link_to 'Destroy', report, method: :delete,
              confirm: 'Are you sure?' %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>