<div class="top-bar">
  <div class="logo"
    onclick="window.location='<%= root_url %>'"></div>

  <div class="user-menu dropdown">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= current_user.full_name %>
    </a>
    <i class=" icon-chevron-down icon-white"></i>

    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop3">
      <li><a tabindex="-1" href="<%= reports_url %>">My Reports</a></li>
      <li class="divider"></li>
      <li>
        <%= link_to 'Preferences', { :action => :edit,
          :id => current_user, :controller => "users" }, { :tabindex => "-1" } %>
      </li>
    </ul>
  </div>


  <div class="logout-container">
    <%=link_to "", {controller: "devise/sessions", action: "destroy"},
      class: "logout"%>
  </div>

</div>