<!DOCTYPE html>
<html>

  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= yield :head %>

  </head>

  <%# Add custom ids and classes to the body tag %>
  <body
    <%= "id='#{yield :page_id}'"  %>
    <%= if((yield :page_class).present?) then
      "class=#{yield :page_class}" end
  %> >

    <header id="page-header" class="js-page-header">
      <%= render 'layouts/header' %>
    </header>

    <% flash.each do |key, value| %>
      <%
        alert_class = case key
        when :alert then 'alert-error'
        when :notice then 'alert-success'
        else ''
        end
      %>
      <% unless value.blank? %>
        <div class="alert <%= alert_class %>">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= value %>
        </div>
      <% end %>
    <% end %>

    <section id="page-content">
      <%= yield %>
    </section>


    <section id="page-footer">
    </section>

    <div id="ajax-loading-indicator" class="alert alert-success hide">
      Loading...
    </div>

  </body>
</html>